<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.zapcg.kroose"
        version = "1.0.0">

    <name>Kool Cruises</name>

    <description>
        Kool Cruises
    </description>

    <author href="http://zapcg.com" email="support@zapcg.com">
        ZapCG Team
    </author>

    <!--
If you do not want any permissions to be added to your app, add the
following tag to your config.xml; you will still have the INTERNET
permission on your app, which PhoneGap requires.
-->

	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
	<preference name="StatusBarOverlaysWebView" value="true" />
    
    <!-- Customize your app and platform with the preference element. -->
    <preference name="phonegap-version" value="3.4.0" /> <!-- all: current version of PhoneGap -->
    <preference name="orientation" value="default" /> <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device" value="universal" /> <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen" value="true" /> <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce" value="true" /> <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon" value="true" /> <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview" value="false" /> <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle" value="black-opaque" /> <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types" value="true" /> <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend" value="false" /> <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" /> <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="false" /> <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor" value="false" /> <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion" value="7" /> <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation" value="auto" /> <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <!-- Plugins -->

    <!-- Core plugins -->
	<gap:plugin name="org.apache.cordova.splashscreen" />
	
	
	<!--
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.vibration" />
	-->

    <!-- Third party plugins -->
    <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
    <!--
<gap:plugin name="com.phonegap.plugins.barcodescanner" />
-->

    <!-- Define app icon for each platform. This is a relative path to config.xml.
For e.g. if you place an icon.png inside res folder, you should modify the
src in the following setting to "res/icon.png" -->
	<icon src="res/icon/icon.png" />
	<icon src="res/icon/android/ldpi.png"   gap:platform="android" gap:density="ldpi" />
	<icon src="res/icon/android/mdpi.png"   gap:platform="android" gap:density="mdpi" />
	<icon src="res/icon/android/hdpi.png"   gap:platform="android" gap:density="hdpi" />
	<icon src="res/icon/android/xhdpi.png"  gap:platform="android" gap:density="xhdpi" />
	<icon src="res/icon/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />

	<!-- iOS 7.0+ -->
	<!-- iPhone / iPod Touch  -->
	<icon src="res/icon/ios/icon60.png" gap:platform="ios" width="60" height="60" />
	<icon src="res/icon/ios/icon120.png" gap:platform="ios" width="120" height="120" />
	<!-- iPad -->
	<icon src="res/icon/ios/icon76.png" gap:platform="ios" width="76" height="76" />
	<icon src="res/icon/ios/icon152.png" gap:platform="ios" width="152" height="152" />
	<!-- Settings Icon -->
	<icon src="res/icon/ios/icon29.png" gap:platform="ios" width="29" height="29" />
	<icon src="res/icon/ios/icon58.png" gap:platform="ios" width="58" height="58" />
	<!-- Spotlight Icon -->
	<icon src="res/icon/ios/icon40.png" gap:platform="ios" width="40" height="40" />
	<icon src="res/icon/ios/icon80.png" gap:platform="ios" width="80" height="80" />


	<!-- iOS 6.1 -->
	<!-- iPhone / iPod Touch -->
	<icon src="res/icon/ios/icon57.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/icon/ios/icon114.png" gap:platform="ios" width="114" height="114" />
	<!-- iPad -->
	<icon src="res/icon/ios/icon72.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/icon/ios/icon144.png" gap:platform="ios" width="144" height="144" />
	<!-- iPhone Spotlight and Settings Icon -->
	<icon src="res/icon/ios/icon29.png" gap:platform="ios" width="29" height="29" />
	<icon src="res/icon/ios/icon58.png" gap:platform="ios" width="58" height="58" />
	<!-- iPad Spotlight and Settings Icon -->
	<icon src="res/icon/ios/icon50.png" gap:platform="ios" width="50" height="50" />
	<icon src="res/icon/ios/icon100.png" gap:platform="ios" width="100" height="100" />

	
    <!-- Define app splash screen for each platform. -->
	<gap:splash src="res/screen/splash.png" />
    <gap:splash src="res/screen/android/splash.png" gap:platform="android" width="480" height="800" />
	
	<!-- iPhone and iPod touch -->
	<gap:splash src="res/screen/ios/320x480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/screen/ios/640x960.png" gap:platform="ios" width="640" height="960" />
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<gap:splash src="res/screen/ios/640x1136.png" gap:platform="ios" width="640" height="1136" />
	<!-- iPad -->
	<gap:splash src="res/screen/ios/768x1024.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="res/screen/ios/1024x768.png" gap:platform="ios" width="1024" height="768" />
	<!-- Retina iPad -->
	<gap:splash src="res/screen/ios/1536x2048.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="res/screen/ios/2048x1536.png" gap:platform="ios" width="2048" height="1536" />

	
	
    <!--
Define access to external domains.

<access /> - a blank access tag denies access to all external resources.
<access origin="*" /> - a wildcard access tag allows access to all external resource.

Otherwise, you can specify specific domains:
-->
    <access origin="*"/>
    <!--
<access origin="http://phonegap.com" /> - allow any secure requests to http://phonegap.com/
<access origin="http://phonegap.com" subdomains="true" /> - same as above, but including subdomains, such as http://build.phonegap.com/
<access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
-->





<platform name="ios">
<config-file target="*-Info.plist" parent="CFBundleURLTypes">
<array>
    <dict>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>		
    </dict>
</array>
</config-file>
</platform>


</widget>